.navButton{
    padding-left: 15px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border-radius: 2px;
    line-height: 28px;
    padding: 0 12px;
    font-family: arial, sans-serif;
    font-size: 13px;
    margin-left: 15px;
    &:hover{
        background: -webkit-linear-gradient(top,#6b9ffa,#6d99e6);
    }
}